HOST=0.0.0.0
PORT=8080
PUBLIC_URL=https://0.0.0.0
ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
PHONE_NUMBER_SID=PNXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
NGROK_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CLAUDE_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ANTHROPIC_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATA_FILE_PATH=database\data.json
